<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Welcome To Pizzeria</h1>

    <h3>Filter Results By:</h3>

    <div class="user_filter">
         <form class="navbar-form navbar-left" role="search" method="get" action="">
              <div class="form-group">
                    <b>By User: </b>
                    <select name="u">
                        {% for user in users %}
                           <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-default"></input>
         </form>
    </div>

    <div class="rp_filter">
         <form class="navbar-form navbar-left" role="search" method="get" action="">
              <div class="form-group">
                    <b>By Reporting period: </b>
                    <input type="date" name="rp">
                </div>
                <input type="submit" class="btn btn-default"></input>
         </form>
    </div>

    <div class="toppings_filter">
         <form class="navbar-form navbar-left" role="search" method="get" action="">
              <div class="form-group">
                    <b>By Toppings: </b>
                    <select name="t">
                        {% for topping in toppings %}
                           <option value="{{ topping }}">{{ topping }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-default"></input>
         </form>
    </div>

    <div class="no_filter">
        <form class="navbar-form navbar-left" role="search" method="get" action="">
            <div class="form-group">
                <b>Show ALL</b>
            </div>
            <input type="submit" class="btn btn-default"></input>
        </form>
    </div>

    <br><br>
    <h5><a href="{% url 'pizzas:pizza_create' %}">Click Here To Add A New Pizza</a></h5>
    <h5><a href="{% url 'pizzas:toppings_create' %}">Click Here To Add a New Topping</a></h5>
    <table class="table">
                        <thead>
                        <tr>
                            <th>NAME</th>
                            <th>USER</th>
                            <th>ORGANIZATION</th>
                            <th>REPORTING PERIOD</th>
                            <th class="text-right">TOPPINGS</th>
                        </tr>
                        </thead>

                        {% for pizza in pizzas %}
                            <tr>
                                <td><a href="{{ pizza.get_absolute_url }}">{{ pizza.name }}</td></a>
                                <td>{{ pizza.user }}</td>
                                <td>{{ pizza.organization }}</td>
                                <td>{{ pizza.reporting_period }}</td>
                                {% for topping in pizza.toppings.all %}<td>{{ topping }}</td><br/>{% endfor %}

                            </tr>
                        {% endfor %}
    </table>

</head>
<body>

</body>
</html>