<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <body>
        <h1>{{ instance.name }}</h1>
        <b>User : </b> {{ instance.user }} </br>
        <b>Organization : </b> {{ instance.organization }} </br>
        <b>Reporting_Period: </b> {{ instance.reporting_period }}</br></br>
        <b>Toppings: </b> </br>{% for topping in instance.toppings.all %}{{ topping }}<br/>{% endfor %}
        <br>
        <a href="/pizzas/{{ instance.id }}/edit">Edit</a>
        <br>
        <a href="/pizzas/{{ instance.id }}/delete">Delete</a>
    </body>
</html>