<!DOCTYPE html>
<html lang="en">

<body>

    <h1>Add New Topping</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" />
    </form>
</body>
</html>